{# templates/admin/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create New Admin{% endblock %}

{% block body %}
    <h1>Create New Admin</h1>
    {# Здесь можно добавить форму для создания нового администратора #}
{% endblock %}
